*{
  box-sizing: border-box;
}



body {
  padding: 0;
  text-align: center;
  background-color: #542710;
  
}



/********INSTRUCTIONS*/

#imageTitle{
  width: auto;
  height: 10em;
}
.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 10px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 1.2em;
  background-color: #1a5239;
  color: #fff;
  padding: 1.2em ;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 1.2em;
  font-family: 'Luckiest Guy', cursive;
}

body button:hover{
  background-color: #103a27;
}

#game-board {
    float: left;
    padding: 20px 0px;
}

.instructions {
  background-color: #542710;
  color:white;
}

.instructions img{
  width: 10em;
  height: auto;
}

.movimentInstructions{
  height: 5em;
  width: 5em;
}

canvas{
  background-image: url('./images/GameItens/forest.png');
  background-size: cover;
  border-radius: 5%;
}


.score{
  width: 200px;
  height: 25px;
  border:1px solid black;
  align-items: center;
}

.scoreCharacter{
  background-color: green;
  height: 100%;
}


.scoreDiva{
  background-color: pink;
  height: 100%;
}


/*********SPELLS******/

.spell{
  background-image: url('./images/GameItens/backgroundspell.jpg.png');
  background-size: cover;
  width: 10em;
  height: auto;
  text-align: center;
  padding: 1em 1.5em;
  color:white;
  font-family: 'Luckiest Guy', cursive;
  font-size: 1em;
}
.spellsImages{
  width:auto;
  height:3em;
}

#macroSpell01, #macroSpell04{
  background-color: rgba(0,0,0,0.98);
}


