*{
  box-sizing: border-box;
}



body {
  padding: 0;
  text-align: center;
  background-color: #542710;
  
}

.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #870007;
  color: #fff;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
}

#game-board {
    float: left;
    padding: 20px 0px;
}

/********INSTRUCTIONS*/

.instructions {
  background-color: #542710;
}

canvas{
  background-image: url('./images/GameItens/forest.png');
  background-size: cover;
  border-radius: 5%;
}


.score{
  width: 200px;
  height: 25px;
  border:1px solid black;
  align-items: center;
}

.scoreCharacter{
  background-color: green;
  height: 100%;
}


.scoreDiva{
  background-color: pink;
  height: 100%;
}


/*********SPELLS******/

.spell{
  background-image: url('./images/GameItens/backgroundspell.jpg.png');
  background-size: cover;
  width: 10em;
  height: auto;
  text-align: center;
  padding: 1em 1.5em;
  color:white;
  font-family: 'Luckiest Guy', cursive;
}
.spellsImages{
  width:auto;
  height:5em;
}

#macroSpell01, #macroSpell04{
  background-color: rgba(0,0,0,0.98);
}


