*{
  box-sizing: border-box;
}



body {
  padding: 0;
  text-align: center;
  background-color:#103a27;
  overflow-x: hidden;
  overflow-y: hidden;
}

section{
  background-color:#103a27;
}


/********INSTRUCTIONS*/

#imageTitle{
  width: auto;
  height: 10em;
}
.game-intro {
  float: left;
  padding: 0% 10%;
}

.game-intro p {
  font-size: 10px;
  font-family: "Verdana"
}

.logo-img {
  width: 350px;
}

.arrows-img {
  width: 150px;
}

body button {
  font-size: 1.2em;
  background-color: #1a5239;
  color: #fff;
  padding: 1.2em ;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 1.2em;
  font-family: 'Luckiest Guy', cursive;
}

body button:hover{
  background-color: #103a27;
}

#game-board {
    float: left;
    padding: 20px 0px;
}

.instructions{
  background-color: #542710;
  color:white;
  border: 1em solid rgba(189,106,54,0.8);
  border-radius: 5%;
  background-image: url('./images/GameItens/backgroundspell.jpg.png');
  background-size: contain;
}

.instructions img{
  width: 10em;
  height: auto;
}

.control{
  margin: 1em 0em;
}

button{
  padding-left: 1em;
}

canvas{
  background-image: url('./images/GameItens/forest.png');
  background-size: cover;
  border-radius: 5%;
}

#canvasColumn{
  background-color: #103a27;
  border: 2em solid #103a27;
}

#scoreMacro{
  background-color: #542710;
  color:white;
  border: 0.2em solid rgba(189,106,54,0.8);
  border-radius: 6%;
  background-image: url('./images/GameItens/backgroundspell.jpg.png');
  background-size: contain;
  margin-top: 0;
  font-family: 'Luckiest Guy', cursive;

  
}


.score{
  width: 15em;
  height: 1.5em;
  border:1px solid black;
  border-radius: 5%;
  align-items: center;
  margin: 1em;
}

.scoreCharacter{
  background-color:  gray;
  height: 100%;
}


.scoreDiva{
  background-color: #103a27;
  height: 100%;
}


/*********SPELLS******/

.spell{
  background-image: url('./images/GameItens/backgroundspell.jpg.png');
  background-size: cover;
  width: 10em;
  height: auto;
  text-align: center;
  padding: 1em 1.5em;
  color:white;
  font-family: 'Luckiest Guy', cursive;
  font-size: 0.9em;
  border-radius: 5%;
}
.spellsImages{
  width:auto;
  height:2em;
}

#macroSpell01, #macroSpell04{
  background-color: rgba(0,0,0,0.98);
}

.spell h4{
  font-size: 1em;
}


